<div class="container">


  <fieldset>
    <legend>DETALLE DE HABITACION</legend>

    <div id="prellenado" style="background:#ebf7aa;">

      <div class="grid-6-12">
        <label>Habitación: <%=@detalle_reservacion.habitacion.descripcion%></label>
      </div>

      <div class="grid-6-12">
        <label>Capacidad: <%=@detalle_reservacion.habitacion.capacidad%></label>
      </div>

      <div class="grid-12-12 clear"></div>

      <div class="grid-4-12">
        <label style=" font-weight: bold;">Fecha inicial: <%=@detalle_reservacion.fecha_inicial%></label>
      
      </div>



      <div class="grid-4-12">
        <label style=" font-weight: bold;">Fecha de salida: <%=@detalle_reservacion.fecha_final%></label>
   
      </div>

      <div class="grid-12-12 clear"></div>
    </div>
</fieldset>


</div>

